.jumbotron{
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1em;
}

.navbar{
    height: 100px !important;
}

img{
    max-width: 100%;
    height: auto;
}

.card{
    width: 400px;
    height: 450px;
}
